!dunst/
!i3/
!picom/
!polybar/
!ranger/
!rofi/
!X11
!zsh
!compton.conf

npm/
BraveSoftware/
Code - OSS/
configstore/
dconf/
google-chrome/
gtk-2.0/
gtk-3.0/
htop/
inkscape/
java/
JetBrains/
MongoDB Compass/
Slack/
transmission/
QtProject.conf
zoomus.conf
yay/
VirtualBox/
autostart/
pulse/
VSCodium/
xfce4/
dwm/
mimeapps.list
Bitwarden
chromium
Mailspring
sonic-visualiser
nvim/autoload/plugged/
nvim/session/
nvim.lua/plugin/*
obs-studio/
vlc
coc/
